.page-info
  height: 148px
  background-color: #F8F3F4
  display: flex
  justify-content: space-between
  align-items: center

  &__text
    +mainFont(24px, $colorSelect)
    line-height: 29px

  &__breadcrumbs
    display: flex

  &__link
    +mainFont(14px, #636363)
    font-weight: 300
    line-height: 17px
    text-decoration: none

    &:hover
      color: $colorSelect

    &:not(:last-child):after
      content: "/"
      color: #636363
      padding-left: 5px
      padding-right: 5px

    &:last-child
      font-weight: 700
      color: $colorSelect

.pages-list
  display: flex
  align-self: center
  justify-content: space-between
  align-items: center
  padding: 12px 16px
  margin-top: 18px
  border: 1px solid #EBEBEB
  border-radius: 5px
  width: 283px

  &__cursor
    display: flex

    &:hover
      fill: $colorSelect

  &__page
    text-decoration: none
    +mainFont(16px, #C9C9C9)
    font-weight: 300
    line-height: 19px

    &:hover
      color: #EF5B70

    &_select
      color: #EF5B70

summary
  display: block
  outline: none

  &::-webkit-details-marker
    display: none

.sort-box
  display: flex
  margin-top: 51px
  margin-bottom: 64px

  &__filter
    width: 360px
    margin-right: 30px
    position: relative

  &__option
    display: flex

.filter
  width: fit-content
  width: -moz-fit-content
  position: absolute
  z-index: 1

  &__name
    +mainFont(14px, #000)
    font-weight: 600
    line-height: 17px
    cursor: pointer

    &:hover
      color: $colorSelect

      & .filter__img
        fill: $colorSelect

  &__img
    fill: #000000
    margin-left: 11px

  &__details
    margin-bottom: 16px

    &[open] .filter__ul
      animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both


  &__category
    padding-left: 11px
    +mainFont(14PX, $colorSelect)
    line-height: 37px
    border-left: 5px solid $colorSelect
    border-bottom: 1px solid #EBEBEB
    cursor: pointer

    &:hover
      border-bottom-color: #EBEBEB -#111
      font-weight: 600

  &__ul
    list-style-type: none
    padding-top: 24px
    padding-left: 12px

  &__li
    margin-bottom: 11px

    &:last-child
      margin-bottom: 24px

  &__link
    +mainFont(14px, #6F6E6E)
    line-height: 17px
    text-decoration: none

    &:hover
      color: $colorSelect

  &[open]
    width: 360px
    box-sizing: border-box
    background: #FFFFFF
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    padding: 13px 16px 0 16px
    top: -13px

    & .filter__name
      color: #EF5B70
      margin-bottom: 16px

    & .filter__img
      fill: #EF5B70

    & .filter__name
      animation: bounce-right 0.8s both

    & .filter__details
      animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both

.option
  margin-right: 28px
  position: relative

  &[open] .option__list
    animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both

  &__name
    +mainFont(14px, #6F6E6E)
    line-height: 17px
    cursor: pointer

    &:hover
      color: #6F6E6E - #666

      & .option__img
        fill: #6F6E6E - #666

  &__img
    margin-left: 10px
    fill: #6F6E6E

  &__list
    position: absolute
    display: flex
    flex-direction: column
    z-index: 1
    background: #FFFFFF
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    padding: 0 9px 12px
    width: max-content
    min-width: 100%
    margin-top: 5px
    +mainFont(14px, #6F6E6E)
    line-height: 16px
    left: -9px


  &__label
    display: flex
    align-items: center
    margin-top: 9px

  &__text
    margin-left: 9px

    &_capitalize
      text-transform: capitalize



