@media (max-width: 1023px)

  //styles for index.html

  .header__left
    margin-left: 16px

  .header__right
    margin-right: 16px

  .center
    padding-left: calc(50% - 368px)
    padding-right: calc(50% - 368px)

  .promo__heading
    font-size: 44px
    line-height: 53px

  .promo__info
    font-size: 24px
    line-height: 29px

  .sale
    padding-top: 20px
    padding-bottom: 154px

    &__top
      padding-bottom: 20px

    &__item:not(:last-child)
      margin-right: 20px

  .product-box
    padding-bottom: 65px

    &__content_index
      padding-top: 72px
      margin-bottom: 32px

  .product
    margin-bottom: 16px
    &:last-child
      display: none

    &:nth-child(even):last-child
      display: block

  .offer
    flex-direction: column
    align-items: center

    &__img
      padding-top: 48px

    &__content
      padding-bottom: 0

    &__item:last-child
      padding-bottom: 64px

  .subscribe
    background-position-x: 25%
    padding-top: 64px
    padding-bottom: 140px
    flex-direction: column
    align-items: center

    &__left
      margin-bottom: 48px

    &__right
      margin-right: 0

      &_text
        padding-bottom: 27px


@media (max-width: 425px)

  .center
    padding-left: 15px
    padding-right: 15px

  .hidden
    display: none

  .header
    &__left
      margin-left: 0
    &__right
      margin-right: 0

  .header__link:not(:last-child)
    margin: 0

  .promo
    height: 262px
    display: flex
    justify-content: center
    align-items: center

  .promo__img
    display: none

  .promo__content
    margin-top: 0

  .promo__text
    width: auto

  .sale
    padding-top: 64px
    padding-bottom: 64px

  .sale__top
    flex-direction: column
    padding-bottom: 0

  .sale__item
    margin-bottom: 32px

  .sale__item:not(:last-child)
    margin-right: 0

  .sale__img_big
    height: 111px
    object-fit: cover

  .product-box__content_index
    padding-top: 64px

  .product-box__content
    display: flex
    flex-direction: column
    align-items: center
    flex-wrap: nowrap

  .product-box__content_index
    margin-bottom: 24px

  .product-box
    padding-bottom: 96px

  .subscribe
    padding-bottom: 109px

  .footer
    flex-direction: column-reverse
    align-items: center
    padding-top: 43px
    padding-bottom: 9px
    &__links
      margin-bottom: 40px