@keyframes bounce-right {
  0% {
    transform: translateX(-15px); }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slide-in-top {
  0% {
    transform: translateY(-45px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
* {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px); }

.header {
  background: #222;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__search {
    margin-left: 41px;
    fill: #E8E8E8; }
    .header__search:hover {
      fill: #f16d7f; }
  .header__link {
    display: inline-block;
    fill: #E8E8E8; }
    .header__link:not(:last-child) {
      margin-right: 33px; }
    .header__link:hover {
      fill: #f16d7f; }

.promo {
  background: #F1E4E6;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px); }
  .promo__img {
    width: 50%;
    display: flex; }
  .promo__photo {
    width: 100%; }
  .promo__text {
    width: 50%; }
  .promo__content {
    margin-top: 40%;
    border-left: 12px solid #f16d7f;
    padding-left: 16px; }
  .promo__heading {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 48px;
    color: #222;
    font-weight: 900;
    line-height: 58px; }
  .promo__info {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 48px;
    color: #222;
    font-weight: bold;
    line-height: 58px; }
    .promo__info_select {
      color: #f16d7f; }

.sale {
  padding-top: 64px;
  padding-bottom: 96px; }
  .sale__top {
    display: flex;
    padding-bottom: 30px; }
  .sale__img {
    width: 100%; }
  .sale__item {
    position: relative; }
  .sale__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .sale__item:not(:last-child) {
    margin-right: 30px; }
  .sale__p {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    line-height: 19px;
    text-align: center; }
  .sale__heading {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 24px;
    color: #f16d7f;
    font-weight: bold;
    line-height: 29px;
    text-align: center; }

.product-box {
  padding-bottom: 96px;
  display: flex;
  flex-direction: column; }
  .product-box__heading {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 30px;
    color: #222;
    font-weight: normal;
    line-height: 36px;
    text-align: center; }
  .product-box__text {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #9f9f9f;
    font-weight: normal;
    line-height: 17px;
    text-align: center;
    margin-top: 6px; }
  .product-box__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .product-box__content_index {
      padding-top: 48px;
      margin-bottom: 18px; }
  .product-box__button {
    display: inline-block;
    padding: 14px 38px;
    border: 1px solid #FF6A6A;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #F26376;
    text-decoration: none;
    font-weight: normal;
    line-height: 19px;
    align-self: center; }
    .product-box__button:hover {
      background-color: #f16d7f;
      color: #fff; }

.product {
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
  position: relative; }
  .product:hover .product__img {
    filter: brightness(50%); }
  .product:hover .product__add {
    display: flex; }
  .product__img {
    width: 100%; }
  .product__content {
    padding: 24px 16px 20px; }
  .product__name {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 13px;
    color: #000;
    font-weight: normal;
    line-height: 16px;
    text-decoration: none; }
    .product__name:hover {
      color: #f16d7f; }
  .product__text {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: 300;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 18px; }
  .product__price {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #f16d7f;
    font-weight: normal;
    line-height: 19px; }
  .product__add {
    display: none;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 44px;
    border: 1px solid #fff;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 17px;
    text-decoration: none;
    position: absolute;
    top: 188px;
    left: 111px; }
    .product__add:hover {
      box-shadow: 0 0 5px #fff; }
    .product__add__svg {
      fill: #fff;
      margin-right: 11px; }

.offer {
  display: flex;
  justify-content: space-between;
  background: #222; }
  .offer__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .offer__img {
    padding-top: 104px;
    height: 100%; }
  .offer__content {
    text-align: center;
    padding: 24px 16px 104px; }
  .offer__heading {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 20px;
    color: #FBFBFB;
    font-weight: normal;
    line-height: 24px; }
  .offer__text {
    margin-top: 16px;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #FBFBFB;
    font-weight: 300;
    line-height: 17px; }

.subscribe {
  background: url("../img/photosubscribe.png") bottom left;
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 156px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  .subscribe__left {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .subscribe__left_img {
    padding-bottom: 30px; }
  .subscribe__left_text {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 20px;
    color: #222;
    font-weight: normal;
    line-height: 24px;
    text-align: center; }
  .subscribe__italic_text {
    font-style: italic; }
  .subscribe__right {
    margin-right: 97px; }
  .subscribe__right_text {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 18px;
    color: #222;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-bottom: 32px; }
  .subscribe__bold_text {
    font-weight: 700;
    line-height: 38px;
    font-size: 24px; }
  .subscribe__form {
    display: flex;
    justify-content: center; }
  .subscribe__form_email {
    width: 234px;
    height: 49px;
    border: none;
    outline: none;
    background-color: #E1E1E1;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #222;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box; }
  .subscribe__form_button {
    width: 100px;
    height: 49px;
    border: none;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    background-color: #F16D7F;
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
    outline: none;
    cursor: pointer; }
    .subscribe__form_button:hover {
      background-color: #e05c6e; }
    .subscribe__form_button:active {
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px #e05c6e; }

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #222224;
  display: flex;
  justify-content: space-between; }
  .footer__copyright {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #FBFBFB;
    line-height: 19px;
    align-self: center; }
  .footer__links {
    display: flex; }
    .footer__links a {
      text-decoration: none; }
  .footer__icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000; }
    .footer__icon:hover {
      background-color: #f16d7f;
      color: #FFFFFF; }
  .footer__icon:not(:last-child) {
    margin-right: 8px; }

.page-info {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .page-info__text {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 24px;
    color: #f16d7f;
    line-height: 29px; }
  .page-info__breadcrumbs {
    display: flex; }
  .page-info__link {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #636363;
    font-weight: 300;
    line-height: 17px;
    text-decoration: none; }
    .page-info__link:hover {
      color: #f16d7f; }
    .page-info__link:not(:last-child):after {
      content: "/";
      color: #636363;
      padding-left: 5px;
      padding-right: 5px; }
    .page-info__link:last-child {
      font-weight: 700;
      color: #f16d7f; }

.pages-list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  margin-top: 18px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  width: 283px; }
  .pages-list__cursor {
    display: flex; }
    .pages-list__cursor:hover {
      fill: #f16d7f; }
  .pages-list__page {
    text-decoration: none;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #C9C9C9;
    font-weight: 300;
    line-height: 19px; }
    .pages-list__page:hover {
      color: #EF5B70; }
    .pages-list__page_select {
      color: #EF5B70; }

summary {
  display: block;
  outline: none; }
  summary::-webkit-details-marker {
    display: none; }

.sort-box {
  display: flex;
  margin-top: 51px;
  margin-bottom: 64px; }
  .sort-box__filter {
    width: 360px;
    margin-right: 30px;
    position: relative; }
  .sort-box__option {
    display: flex; }

.filter {
  width: fit-content;
  position: absolute;
  z-index: 1; }
  .filter__name {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    line-height: 17px;
    cursor: pointer; }
    .filter__name:hover {
      color: #f16d7f; }
      .filter__name:hover .filter__img {
        fill: #f16d7f; }
  .filter__img {
    fill: #000000;
    margin-left: 11px; }
  .filter__details {
    margin-bottom: 16px; }
    .filter__details[open] .filter__ul {
      animation: slide-in-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .filter__category {
    padding-left: 11px;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14PX;
    color: #f16d7f;
    line-height: 37px;
    border-left: 5px solid #f16d7f;
    border-bottom: 1px solid #EBEBEB;
    cursor: pointer; }
    .filter__category:hover {
      border-bottom-color: #dadada;
      font-weight: 600; }
  .filter__ul {
    list-style-type: none;
    padding-top: 24px;
    padding-left: 12px; }
  .filter__li {
    margin-bottom: 11px; }
    .filter__li:last-child {
      margin-bottom: 24px; }
  .filter__link {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #6F6E6E;
    line-height: 17px;
    text-decoration: none; }
    .filter__link:hover {
      color: #f16d7f; }
  .filter[open] {
    width: 360px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 13px 16px 0 16px;
    top: -13px; }
    .filter[open] .filter__name {
      color: #EF5B70;
      margin-bottom: 16px; }
    .filter[open] .filter__img {
      fill: #EF5B70; }
    .filter[open] .filter__name {
      animation: bounce-right 0.8s both; }
    .filter[open] .filter__details {
      animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.option {
  margin-right: 28px;
  position: relative; }
  .option[open] .option__list {
    animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
  .option__name {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #6F6E6E;
    line-height: 17px;
    cursor: pointer; }
    .option__name:hover {
      color: #090808; }
      .option__name:hover .option__img {
        fill: #090808; }
  .option__img {
    margin-left: 10px;
    fill: #6F6E6E; }
  .option__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 0 9px 12px;
    width: max-content;
    min-width: 100%;
    margin-top: 5px;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #6F6E6E;
    line-height: 16px;
    left: -9px; }
  .option__label {
    display: flex;
    align-items: center;
    margin-top: 9px; }
  .option__text {
    margin-left: 9px; }
    .option__text_capitalize {
      text-transform: capitalize; }

.product-box_product {
  padding-bottom: 98px; }

.product-carousel {
  height: 777px;
  background-color: #F7F7F7;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .product-carousel__cursor {
    fill: #000;
    background: rgba(42, 42, 42, 0.15); }
    .product-carousel__cursor:hover {
      fill: #f16d7f; }

.product-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EAEAEA;
  position: relative;
  top: -64px;
  margin-bottom: 64px; }
  .product-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 641px;
    border-bottom: 1px solid #EAEAEA;
    padding-top: 64px;
    padding-bottom: 64px; }
  .product-info__category {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #F16D7F;
    font-weight: 300;
    line-height: 17px; }
  .product-info__separator {
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
    margin-bottom: 12px;
    margin-top: 12px; }
  .product-info__name {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 18px;
    color: #4D4D4D;
    font-weight: 300;
    line-height: 22px; }
  .product-info__text {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #5E5E5E;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    padding: 48px 43px 32px; }
  .product-info__price {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 24px;
    color: #EF5B70;
    font-weight: 300;
    line-height: 29px;
    color: #EF5B70; }
  .product-info__button {
    display: flex;
    padding: 14px 56px 8px 23px;
    margin-bottom: 64px;
    border: 1px solid #FF6A6A;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #F26376;
    text-decoration: none;
    font-weight: normal;
    line-height: 19px;
    outline: none;
    fill: #f16d7f;
    background: #fff; }
    .product-info__button:hover {
      background-color: #f16d7f;
      color: #fff;
      fill: #fff; }
    .product-info__button:active {
      color: #fff;
      fill: #fff;
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px #e05c6e; }
  .product-info__svg {
    margin-right: 23px; }

.sort-box__option_product {
  margin-top: 64px;
  margin-bottom: 48px; }

.option_product {
  margin-right: 23px; }

.cart {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between; }
  .cart__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 72px; }
  .cart__button {
    padding: 16px 40px;
    border: 1px solid #A4A4A4;
    background: #FFFFFF;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    line-height: 17px;
    outline: none; }
    .cart__button:hover {
      color: #FFFFFF;
      background-color: #f16d7f;
      border-color: #f16d7f;
      cursor: pointer; }
    .cart__button:active {
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px #e05c6e;
      color: #FFFFFF; }
  .cart__form {
    width: 360px;
    display: flex;
    flex-direction: column; }

.checked-product {
  width: 652px;
  height: 306px;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  display: flex;
  margin-bottom: 40px; }
  .checked-product__img {
    width: 262px; }
  .checked-product__content-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #fff; }
  .checked-product__content {
    padding-top: 22px;
    padding-left: 31px; }
  .checked-product__name {
    text-decoration: none; }
  .checked-product__count {
    align-self: center;
    width: 43px;
    height: 24px;
    border: 1px solid #EAEAEA;
    margin-left: 24px;
    outline: none;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 18px;
    color: #656565;
    line-height: 22px;
    text-align: center; }
  .checked-product__heading {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 24px;
    color: #222;
    line-height: 29px;
    margin-bottom: 42px; }
    .checked-product__heading:hover {
      color: #f16d7f; }
  .checked-product__text {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 22px;
    color: #575757;
    line-height: 26px; }
    .checked-product__text:not(:last-child) {
      margin-bottom: 6px; }
    .checked-product__text_select {
      color: #f16d7f; }
  .checked-product__svg {
    fill: #575757;
    margin: 28px 22px 0 37px; }
    .checked-product__svg:hover {
      fill: #f16d7f;
      cursor: pointer; }

.address {
  display: flex;
  flex-direction: column;
  height: 306px;
  justify-content: space-around;
  margin-bottom: 40px; }
  .address__heading {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #222;
    font-weight: 300;
    line-height: 19px; }
  .address__input {
    width: 360px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    outline: none;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 13px;
    color: #222;
    font-weight: 300;
    line-height: 16px;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box; }
    .address__input:focus {
      border-color: #f16d7f; }
    .address__input::placeholder {
      color: #B1B1B1; }
    .address__input_select::placeholder {
      color: #222222; }
  .address__button {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 11px;
    color: #4A4A4A;
    font-weight: 300;
    line-height: 13px;
    outline: none;
    padding: 10px 15px;
    border: 1px solid #A4A4A4;
    background: #FFFFFF;
    width: fit-content;
    width: -moz-fit-content; }
    .address__button:hover {
      color: #FFFFFF;
      background-color: #f16d7f;
      border-color: #f16d7f;
      cursor: pointer; }
    .address__button:active {
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px #e05c6e;
      color: #FFFFFF; }

.checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 39px;
  padding-bottom: 43px;
  background: #F5F3F3;
  width: 360px;
  height: 214px;
  box-sizing: border-box; }
  .checkout__sub {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 11px;
    color: #4A4A4A;
    line-height: 13px;
    margin-right: 34px;
    margin-bottom: 12px; }
    .checkout__sub_price {
      margin-left: 20px; }
  .checkout__grand {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #222;
    font-weight: 300;
    line-height: 19px;
    margin-right: 37px;
    margin-bottom: 21px; }
    .checkout__grand_price {
      margin-left: 20px;
      font-weight: 700;
      color: #f16d7f; }
  .checkout__separator {
    height: 1px;
    width: 275px;
    background: #E2E2E2;
    margin-bottom: 17px;
    align-self: center; }
  .checkout__button {
    font-family: Lato, serif;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 19px;
    background: #F16D7F;
    outline: none;
    border: none;
    padding: 15px 42px;
    cursor: pointer;
    align-self: center; }
    .checkout__button:hover {
      background: #e05c6e; }
    .checkout__button:active {
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px #cf4b5d; }

input::-webkit-input-placeholder {
  text-indent: 0;
  transition: all 0.7s ease; }

input::-moz-placeholder {
  text-indent: 0;
  transition: all 0.7s ease; }

input:-moz-placeholder {
  text-indent: 0;
  transition: all 0.7s ease; }

input:-ms-input-placeholder {
  text-indent: 0;
  transition: all 0.7s ease; }

input:focus::-webkit-input-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0; }

input:focus::-moz-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0; }

input:focus:-moz-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0; }

input:focus:-ms-input-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0; }

.cart_registration {
  margin-top: 64px;
  margin-bottom: 96px; }

.cart__form_registration {
  margin-right: 128px; }

.address_registration {
  height: fit-content; }

.checkout__button_registration {
  padding: 16px 29px;
  align-self: flex-start; }

.arrow-right {
  fill: #FFF;
  margin-left: 20px; }

.password-text {
  font-family: Lato, serif;
  font-style: normal;
  font-size: 13;
  color: #B1B1B1;
  font-weight: 300;
  line-height: 16px;
  margin-top: 16px;
  margin-bottom: 40px; }

.address__heading_registration {
  margin-bottom: 20px; }

.address__input_registration {
  margin-bottom: 21px; }

.radio-box {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px; }
  .radio-box__label {
    padding-left: 10px;
    margin-right: 20px;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 12px;
    color: #000;
    font-weight: 300;
    line-height: 13px; }

.reg-info {
  font-family: Lato, serif;
  font-style: normal;
  font-size: 24px;
  color: #000;
  line-height: 29px;
  font-weight: 300; }
  .reg-info__heading {
    padding-bottom: 22px;
    font-family: Lato, serif;
    font-style: normal;
    font-size: 24px;
    color: #000;
    font-weight: 300; }
  .reg-info__list {
    list-style-type: none; }
  .reg-info__text {
    position: relative;
    padding-bottom: 16px;
    padding-left: 43px; }
    .reg-info__text:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 16px;
      top: 8px;
      left: 0;
      background-image: url("../img/check-mark.svg"); }

/*# sourceMappingURL=style.css.map */
